[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"
pylint-django = "*"
django-filter = "*"
pandas = "*"
django-pandas = "*"
django-widget-tweaks = "*"
whitenoise = "*"
gunicorn = "*"
pyodbc = "*"
django-mssql = "*"
django-mssql-backend = "*"

numpy = "*"

[requires]
python_version = "3.7"
