{% extends 'Runs/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}




<div class="container-fluid pt-3">

    <h1 class="text-center">Day Planner Summary</h1>
    <br>
      <div class="row">
        <div class="col-2">
        <form action="" method="get">
        {{filter.form}}
        <br>
        <button type="submit" class="btn btn-primary p-2">Search</button>
        </form>
      </div>
      </div>       
    <br>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Depart Date</th>
            <th scope="col">Planned Depart Time</th>
            <th scope="col">Actual Depart Time</th>
            <th scope="col">Run</th>
            <th scope="col">Driver</th>
            <th scope="col">Truck</th>
            <th scope="col">Trailer 1</th>
            <th scope="col">Trailer 2</th>
            <th scope="col">Permitted</th>
            <th scope="col">Load Details</th>
            <th scope="col">Return Load</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for run in filter.qs %}
                        
          <tr>
            <th scope="row">{{ run.depart_date }}</th>
            <td>{{ run.Planned_depart_time }}</td>
            <td>{{ run.depart_time }}</td>
            <td>{{ run.run }}</td>
            <td>{{ run.driver }}</td>
            <td>{{ run.truck }}</td>
            <td>{{ run.trailer_1 }}</td>
            <td>{{ run.trailer_2 }}</td>
            <!-- <td>{{ run.permit }}</td> -->
            <td>{{ run.load_comments }}</td>
            <td>{{ run.return_load_comments }}</td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'update_run' run.id %}" class="btn btn-primary">Update</a> <a href="{% url 'delete_run' run.id %}" class="btn btn-danger">Delete</a> </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      

</div>

  

{% endblock content %}