
{% extends 'Runs/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}


{% block content %}
<br>
<br>
{% if user.is_authenticated == False %}
<h1 class="text-center">Please Log In</h1>
{% endif %}

<br>


{% if user.is_authenticated %}
<div class="container-fluid pt-3">


{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Search' %}
    </form>
    
{% endif %}

<br>

{% render_table table 'django_tables2/bootstrap.html' %}

</div>
{% endif %}
<br>



{% endblock content %}