{% extends 'Runs/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<h1 class="d-flex justify-content-center row-hl p-3">Update Run</h1>
<div class="d-flex justify-content-center row-hl p-3">

<form action="" method="post">
{% csrf_token %}


<div class="row">
  
    <div class="col-3">
      <div id="div_id_depart_time" class="form-group alert alert-danger">
          <label for="id_depart_time" class="">
               Actual Depart time
          </label>
          <div class="">
            <input type="text" name="depart_time" class="timeinput form-control" id="id_depart_time" placeholder="HH:MM">
           </div>
         </div>
        </div>
    <div class="col-3">
      <div id="div_id_finished_loading_time" class="form-group alert alert-danger">
          <label for="id_finished_loading_time" class="">
                Finish Loading time
          </label>
          <div class="">
            <input type="text" name="finished_loading_time" class="timeinput form-control" id="finished_loading_time" placeholder="HH:MM">
            </div>
          </div>
        </div>     
        
</div>


  <div class="row">
    <div class="col-2">
        {{ form.depart_date|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.Planned_depart_time|as_crispy_field }}
    </div>
  </div>
  


<div class="row">

    <div class="col-2">
      {{ form.run|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.driver|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.truck|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.trailer_1|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.trailer_2|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-12">
      {{ form.load_comments|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-12">
      {{ form.return_load_comments|as_crispy_field }}
    </div>
</div>  
<br>
<input type='submit' value="Save" class="btn btn-primary">
</form>
</div>

{% endblock content %}

