{% extends 'Runs/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class=" container pt-3">
  <h1 class="p-3">Update a Run</h1>

<form action="" method="post">
{% csrf_token %}


<div class="row">
  <div class="col-2">
      {{ form.depart_time|as_crispy_field }}
  </div>
  
</div>


  <div class="row">
    <div class="col-2">
        {{ form.depart_date|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.Planned_depart_time|as_crispy_field }}
    </div>
  </div>
  


<div class="row">

    <div class="col-2">
      {{ form.run|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.driver|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.truck|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.trailer_1|as_crispy_field }}
    </div>
    <div class="col-2">
        {{ form.trailer_2|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-12">
      {{ form.load_comments|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-12">
      {{ form.return_load_comments|as_crispy_field }}
    </div>
</div>  
<br>
<input type='submit' value="Save" class="btn btn-primary">
</form>
</div>


{% endblock content %}